
  <div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading mb-3">404-Page not found</h1>
              </div>
              <div class="col-md-12">
                    <h1><%= message %></h1>
              </div>
          </div>
      </div>
  </div>